Repository OS366/Tastory, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OS366/core-team, @OS366/backend-team, @OS366/frontend-team, @OS366/devops-team

.github/CODEOWNERS:

# Global owners (if no other rule matches)
* @OS366/core-team

# Backend code
/app.py @OS366/backend-team
/data-scripts/ @OS366/backend-team
/tests/ @OS366/backend-team

# Frontend code
/frontend/ @OS366/frontend-team

# Infrastructure and CI/CD
/.github/ @OS366/devops-team
/scripts/ @OS366/devops-team
Dockerfile* @OS366/devops-team
*.yml @OS366/devops-team

# Documentation
/docs/ @OS366/core-team

fix: Update branch protection script with correct API format
  scripts/setup-branch-protection.sh
Owners: @OS366/devops-team

chore: Update licensing to AGPL-3.0 with commercial options
  .gitignore
  LICENSE
  README.md
Owners: @OS366/core-team

chore: Update licensing to AGPL-3.0 with commercial options
  .gitignore
  LICENSE
  README.md
Owners: @OS366/core-team

feat(stripe): Add webhook endpoint for subscription management - Add webhook handlers for Stripe events - Implement subscription lifecycle management - Store subscription data in MongoDB
  app.py
Owners: @OS366/backend-team

feat(subscription): Add subscription page with monthly pricing - Add SubscriptionPage component with benefits list - Add Upgrade button to navigation - Update dialog handling for subscription page
  frontend/src/App.js
  frontend/src/components/SubscriptionPage.js
Owners: @OS366/frontend-team

Initial commit: Working search functionality with cuisine filtering and UI improvements
  app.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index-react.html
  frontend/scripts/generate-favicon.js
  frontend/src/App.js
  frontend/src/components/SubscribeButton.js
  frontend/webpack.config.js
  package-lock.json
  package.json
Owners: @OS366/backend-team, @OS366/frontend-team, @OS366/core-team

Fix CI linting scope: Black/isort now check all Python files - Expand from 2 files to 18 files, fix formatting issues across codebase
  .github/workflows/ci.yml
  app.py
  data-scripts/clean_recipes.py
  data-scripts/clean_reviews.py
  data-scripts/generate_embeddings.py
  data-scripts/generate_google_embeddings.py
  data-scripts/generate_review_embeddings.py
  data-scripts/upload_to_mongodb.py
  data-scripts/verify_embeddings.py
  nutritional_database.py
  scripts/seed-search-logs.py
  tests/conftest.py
  tests/integration/test_database_operations.py
  tests/test_app.py
  tests/unit/test_api_endpoints.py
  tests/unit/test_helper_functions.py
  tests/unit/test_smoke.py
Owners: @OS366/devops-team, @OS366/backend-team, @OS366/core-team

Fix critical linting issues and optimize CI: bare except clauses fixed, stratified linting approach for different file types
  .github/workflows/ci.yml
  nutritional_database.py
  tests/conftest.py
Owners: @OS366/devops-team, @OS366/core-team, @OS366/backend-team

CRITICAL FIX: requirements.txt syntax error causing CI failures - Fix missing newline between packages
  requirements.txt
Owners: @OS366/core-team

Add branch protection setup script with admin override - Automates GitHub branch protection rules via CLI
  scripts/setup-branch-protection.sh
Owners: @OS366/devops-team

Fix all API endpoint test failures - Environment variables preserved, tests updated for actual behavior - All 29 tests passing
  tests/conftest.py
  tests/unit/test_api_endpoints.py
Owners: @OS366/backend-team

Update README.md
  README.md
Owners: @OS366/core-team

Add 'Think.Beyond.' tagline to footer - Stylish italicized tagline below version info - Consistent with overall footer design - Enhances brand identity
  frontend/src/App.js
Owners: @OS366/frontend-team
